

.container{
    width: 100%;
    height: calc(100vh - 76px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 14px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.formsLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14px;
}

.formsLogin input {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 14px;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
}

.btn {
    padding: 5px;
    width: 100%;
    background-color: #1877F2;
    border: 0;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 20px;
}

.btn:hover{
    opacity: 0.8;
}

.btnGoogle {
    margin-top: 14px;
    padding: 5px;
    height: 40px;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    transition: all 0.3s;
}

.btnGoogle:hover{
    background-color: #e7e7e7;
    color: black;
}

.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.register a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    color: #0f0f0f;
}

.register a:hover{
    text-decoration: underline;
}

.btnlogout {
    width: 100%;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    cursor: pointer;
}
