@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;500;700 & display=swap');

:root{
    --cor-azul-esculo: #146C94;
    --cor-azul-claro: #19A7CE;
    --cor-cinza: #F6F1F1;
    --cor-black:#000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

body {
  background-color:var(--cor-cinza) ;
}
